<div *ngFor="let dest of destinations | filter:(category | async)">
  <img class="image" src={{dest.img}}>
  <h1 class="centered">{{dest.place}}</h1>
  <div id="dis" aria-disabled="false" class="example-boundary">
    <div *ngFor="let activity of dest.activities">
      <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
        <img src={{activity.image}}>
        {{activity.desc}}
      </div>
    </div>
  </div>
</div>

<div>
  {{valueFromChild}}
  <app-save (buttonClicked)="saveChanges($event)"></app-save>
</div>
